@import "@styles/settings.scss";
.wrap {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 270px;
  flex-wrap: wrap;
  font-size: 15px;
  cursor: pointer;
}
.wrap-count {
}
.multi-down {
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  @include goldText;

  height: 70px;
  mix-blend-mode: normal;
  border-radius: 7px;
  width: 270px;
  font-size: 15px;
  white-space: wrap;
}
.multi-down-count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.options {
  overflow: hidden;
  position: absolute;
  border-radius: 7px;
  top: 75px;
  width: 100%;
  outline: none;
  z-index: 1;
}
.options-count {
  top: 30px;
  width: 30px;
}
.option {
  border: 1px solid rgb(39, 39, 38);
  text-align: center;
  margin-top: 5px;
  border-radius: 10px;
  @include goldText;
  padding: 5px;
}
.option-count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}
.black-wrap {
  border-radius: 10px;
  background-color: black !important;
}
