.candy-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 20px 30px 20px;
  width: 30%;
  gap: 20px;

  border-radius: 20px;
  background: radial-gradient(
      ellipse farthest-corner at right bottom,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #8a6e2f 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #ffffff 0%,
      #ffffac 8%,
      #d1b464 25%,
      #5d4a1f 62.5%,
      #5d4a1f 100%
    );
  color: black;
  &_img {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  &_title {
    height: 60px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
  }
  &_sub-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.8;
  }
  &_info {
    font-size: 16px;
    font-weight: 500;
  }
  &_button-block {
    margin-top: 10px;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &_button {
    font-size: 20px;
    display: inline;
    background: none;
    border: none;
    cursor: pointer;
    &_active {
      font-weight: bold;
    }
  }
  &_price {
    padding-right: 10px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
}
@media (max-width: 600px) {
  .candy-card {
    width: 80%;
    background-color: aqua;
  }
}
