@import "@styles/settings.scss";

.content {
  max-width: 660px !important;

  p {
    font-size: 20px;
    font-weight: bold;
  }
  .information-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
}
