@import "@styles/settings.scss";
.logo-block {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 681px;
  position: relative;
  &_img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("./background.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.4;
  }
  .block {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  &_text-block {
    padding: 10px 10px;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  &_main-text {
    text-align: start;
    font-size: 35px;
    word-spacing: 5px;
    font-weight: bold;
    z-index: 1;
    @include goldText;
  }
  &_sub-text {
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
  }
  &_links-block {
    display: flex;
    gap: 30px;
    margin-left: auto;
    width: 25%;
    min-width: 500px;
    a {
      display: block;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border-radius: 10px;
      font-size: 30px;
      font-weight: bold;
      height: 100px;
      width: 100%;
      z-index: 1;
    }
    .link1 {
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
    }
    .link2 {
      background-color: rgb(90, 36, 0);
      color: white;
    }
  }
}

@media (max-width: 1000px) {
  .logo-block_links-block {
    flex-direction: column;
    min-width: 200px;
  }
  .logo-block_text-block {
    padding-left: 30px;
  }
  .logo-block_main-text {
    font-size: 30px;
  }
  .logo-block_sub-text {
    font-size: 14px;
  }
  .logo-block_links-block {
    margin-right: 20px;
  }
}
