.candy-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px 20px 30px 20px;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  gap: 20px;

  border-radius: 20px;
  background: radial-gradient(
      ellipse farthest-corner at right bottom,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #8a6e2f 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #ffffff 0%,
      #ffffac 8%,
      #d1b464 25%,
      #5d4a1f 62.5%,
      #5d4a1f 100%
    );
  color: black;
  &_img {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  &_title {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
  }
  &_sub-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.8;
  }
  &_info {
    text-align: justify;
    font-size: 16px;
    font-weight: 500;
  }
}
@media (max-width: 600px) {
  .candy-card {
    width: 80%;
    background-color: aqua;
  }
}
