@import "@styles/settings.scss";
.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  .mt {
    margin-top: 30px;
  }

  .choko-block {
    display: flex;
    gap: 30px;
  }
  .img {
    border-radius: 15px;
    width: 50%;
  }
  .text-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;
    .text {
      font-size: 17px;
      text-align: justify;
    }
  }
  .info-block {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .accordion-content {
    display: flex;
    gap: 30px;
    text-align: justify;
    .img {
      width: 150px;
      height: 125px;
    }
  }
  .text-info-ing {
    font-size: 17px;
    text-align: center;
  }

  .push {
    margin-top: 20px;
  }
  .push li {
    width: 100%;
    font-size: 17px;
    position: relative;
    padding: 15px 0 15px 40px;
    @include goldText;
    font-weight: bold;
  }
  .push li:before {
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: rgb(255, 102, 0);
    content: "";
    left: 0;
    top: 23px;
  }
}

@media (max-width: 800px) {
  .content {
    .text-block {
      margin-bottom: 15px;
    }
    .choko-block {
      flex-direction: column;
      gap: 10px;
    }
    .img {
      margin: 0 auto;
      width: 90%;
    }
    .accordion-content {
      gap: 20px;
      flex-direction: column;
      .img {
        width: 80%;
        height: 100%;
      }
    }
  }
}
