@import "@styles/settings.scss";
.catalog {
  margin-top: 50px;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  @include goldText;
  &_items-block {
    margin-top: 50px;
    justify-content: center;
    display: flex;
    height: 500px;
    gap: 50px;
  }
  .a {
    position: relative;
    display: block;
    width: 400px;
    height: 400px;
  }
  .a1 {
    border-radius: 30px;
    position: absolute;
    padding: 30px;
    width: 100%;
    height: 100%;
    background-image: url("./1.jpg");
    background-size: cover;
    transition: 0.5s;
  }
  .a2 {
    border-radius: 30px;
    padding: 30px;
    background-image: url("./2.jpg");
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    transition: 0.5s;
  }
  .a1:hover,
  .a2:hover {
    transition: 0.5s;
    transform: scale(1.1);
  }

  &_text {
    z-index: 1;
    text-align: start;
    font-weight: bold;
    font-size: 20px;
    color: white;
  }
  .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 1000px) {
  .catalog_text {
    font-size: 16px;
  }
  .catalog_items-block {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    height: 740px;
    padding-bottom: 50px;
    .a {
      width: 330px;
      height: 330px;
    }
  }
}
