@import "@styles/settings.scss";
.catalog {
  margin-top: 50px;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  @include goldText;
  &_items-block {
    margin-top: 50px;
    justify-content: center;
    display: flex;
    height: 500px;
    gap: 50px;
  }
}

@media (max-width: 750px) {
  .catalog_text {
    font-size: 16px;
  }
  .catalog_items-block {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    height: 740px;
    padding-bottom: 50px;
  }
}
