@import "@styles/settings.scss";
.content {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: 30px;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  justify-content: center;
  @include goldText;
}
