@import "@styles/settings.scss";
.header {
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 50px 20px 50px;
  text-align: center;
  color: #ffda34;
  background-color: black;
}

.svg-title-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.block {
  &_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ffda34;
    padding-bottom: 15px;
    h1 {
      font-size: 80px;
    }
    span {
      font-size: 14px;
    }
  }
  &_link {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 30px;
    a {
      font-size: 18px;
      font-weight: 500;
      @include goldText;
    }
  }
}

.hidden-block {
  visibility: hidden;
  display: none;
}

.button-block {
  visibility: hidden;
  display: none;
}
.button {
  width: 30px;
  height: 30px;
}

@media (max-width: 1000px) {
  .a {
    visibility: hidden;
    display: none;
  }
  .header {
    padding-bottom: 20px;
    min-height: 0px;
    gap: 30px;
    animation-duration: 0.7s;
    animation-name: navVisible;
  }
  @keyframes navVisible {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .block {
    &_title {
      flex-direction: column;
      border: none;
      padding: 0;
      h1 {
        line-height: 60px;
      }
      span,
      .icons {
        visibility: hidden;
        display: none;
      }
    }
    &_link {
      gap: 15px;
      flex-direction: column;
    }
  }
  .hidden-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: visible;
    gap: 10px;
  }

  .button-block {
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    height: 50px;
    background-color: black;
  }
}

.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  background-color: #000000;
}
.c-hamburger:focus {
  outline: none;
}
.c-hamburger span {
  display: block;
  position: absolute;
  top: 15px;
  left: 6px;
  right: 6px;
  height: 3px;
  background: #ffe880;
}
.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ffe880;
  content: "";
}
.c-hamburger span::before {
  top: -7px;
}
.c-hamburger span::after {
  bottom: -7px;
}

.c-hamburger--htx span {
  transition: background 0s 0.1s;
}
.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.1s, 0.1s;
  transition-delay: 0.1s, 0s;
}
.c-hamburger--htx span::before {
  transition-property: top, transform;
}
.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}
/* состояние active при открытом меню  */

.c-hamburger--htx.is-active span {
  background: none;
}
.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}
.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}
.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0.1s, 0.1s;
}

.active {
  color: rgb(175, 164, 0);
}

.svg {
  background-color: #fedb37;
}
