.header {
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px 50px 0 50px;
  text-align: center;
}

.block {
  &_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(211, 205, 205);
    padding-bottom: 15px;
    h1 {
      font-size: 80px;
    }
    span {
      font-size: 14px;
    }
  }
  &_link {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 30px;
    a {
      font-size: 20px;
      font-weight: 500;
    }
  }
}

.hidden-block {
  visibility: hidden;
  display: none;
}
#checkbox {
  display: none;
}
#checkbox:checked > .header {
  background-color: aqua;
}

@media (max-width: 1000px) {
  .header {
    min-height: 0px;
    gap: 30px;
  }
  .block {
    &_title {
      flex-direction: column;
      border: none;
      padding: 0;
      h1 {
        line-height: 60px;
      }
      span,
      div {
        visibility: hidden;
        display: none;
      }
    }
    &_link {
      gap: 15px;
      flex-direction: column;
    }
  }
  .hidden-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: visible;
    gap: 10px;
  }
}
