@import "@styles/settings.scss";

.content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;

  .special-info {
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
  }
}

.accordion-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.delivery-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.payment-block {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 20px;
  font-size: 20px;
  font-weight: bold;
}
