@import "@styles/settings.scss";
.tastes {
  &_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      cursor: pointer;
      font-size: 30px;
      border: 0;
      color: red;
      background-color: black;
    }
  }
}

.count-block {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 23.5px;
  margin-top: 3px;

  width: fit-content;
}

button {
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  background: inherit;
  border: none;
  @include goldText;
}
